@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="display-4">Admin</div>
    <ul>
        <li><a asp-controller="Contest" asp-action="Index">Contests</a></li>   
        <li><a asp-controller="Pintxo" asp-action="Index">Pintxos</a></li>   
        <li><a asp-controller="ManageUsers" asp-action="Index">Manage Users</a></li>   
    </ul>
    <div class="display-4">User</div>
    <ul>
        <li>Pintxos For User - Link</li>
    </ul>
</div>