{{define "title"}}Contest #{{.Contest.ID}}{{end}}

{{define "main"}}
    {{with .Contest}}
    <div class='contest'>
        <div class='metadata'>
            <span>#{{.ID}}</span>
        </div>
        <div class='metadata'>
            <time>Contest Date {{.ContestDate | humanDate}}</time>
            <time>Created: {{.Created | humanDate}}</time>
        </div>
    </div>
    {{end}}
{{end}}