<h1>Listing Contests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Is Active?</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for contest <- @contests do %>
    <tr>
      <td><%= contest.name %></td>
      <td><%= contest.date %></td>
      <td><%= contest.is_active %></td>

      <td>
        <%= link "Show", to: Routes.contest_path(@conn, :show, contest) %>
        <%= link "Activate", to: Routes.contest_path(@conn, :activate, contest), method: :put %>
        <%= link "Edit", to: Routes.contest_path(@conn, :edit, contest) %>
        <%= link "Delete", to: Routes.contest_path(@conn, :delete, contest), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Contest", to: Routes.contest_path(@conn, :new) %></span>
