<%= stylesheet_link_tag "landing-page.css" %>

<!-- Header -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>Pinchos Vistahermosa</h1>
      <h3>Sistema de Votación</h3>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg">
            <i class="fa fa-twitter fa-fw"></i>
            <span class="network-name">Registrarse</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg">
            <i class="fa fa-github fa-fw"></i>
            <span class="network-name">Entrar</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg">
            <i class="fa fa-linkedin fa-fw"></i>
            <span class="network-name">Ver Resultados</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>


</aside>
<!-- /.banner -->

<!-- Footer -->
<footer>
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">Home</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#about">About</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#services">Services</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#contact">Contact</a>
      </li>
    </ul>
    <p class="copyright text-muted small">Copyright &copy; FdFDev 2017. All Rights Reserved</p>
  </div>
</footer>
