<div class="auth-form-wrapper">
  <%= form_for @conn, Routes.session_path(@conn, :create), [as: :session, class: "form-signin"], fn f -> %>
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal"><%= gettext("Please Sign In") %></h1>
    </div>

    <div class="form-label-group">
      <%= text_input f, :email, class: "form-control", placeholder: gettext("Email address"), required: true, autofocus: true %>
      <%= label f, :email, gettext("Email address"), class: "control-label" %>
    </div>

    <div class="form-label-group">
      <%= password_input f, :password, class: "form-control", placeholder: gettext("Password"), required: true %>
      <%= label f, :password, gettext("Password"), class: "control-label" %>
    </div>

    <%= submit gettext("Submit"), class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>