 <header><h1><%= @current_contest.name %></h1></header>
 <div class="container">
    <div class="row">
        <%# <%= link "Current Poll", to: Routes.contest_path(@conn, :show, contest) %>
        <%# Current Poll %>
    </div>
    <div class="row">
        <%= link gettext("My Pintxo"), to: Routes.pintxo_path(@conn, :show, @current_contest) %>
    </div>
 </div>