<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p><%= gettext "Oops, something went wrong! Please check the errors below." %></p>
    </div>
  <% end %>

  <%= label f, gettext("Name") %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, gettext("Description") %>
  <%= textarea f, :description %>
  <%= error_tag f, :description %>

  <div>
    <%= submit gettext("Save") %>
  </div>
<% end %>
