<h1>Listing Pintxos</h1>

<table>
  <thead>
    <tr>
      <th><%= gettext "Name" %></th>
      <th><%= gettext "Description"%></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for pintxo <- @pintxos do %>
    <tr>
      <td><%= pintxo.name %></td>
      <td><%= pintxo.description %></td>

      <td>
        <%= link gettext("Show"), to: Routes.pintxo_path(@conn, :show, pintxo) %>
        <%= link gettext("Edit"), to: Routes.pintxo_path(@conn, :edit, pintxo) %>
        <%= link gettext("Delete"), to: Routes.pintxo_path(@conn, :delete, pintxo), method: :delete, data: [confirm: gettext("Are you sure?")] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link gettext("New Pintxo"), to: Routes.pintxo_path(@conn, :new) %></span>
