<h1><%= gettext "New Pintxo"  %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.pintxo_path(@conn, :create)) %>

<span><%= link gettext("Back"), to: Routes.page_path(@conn, :index) %></span>
