<h1>Show Pintxo</h1>

<ul>

  <li>
    <strong><%= gettext("Name") %>:</strong>
    <%= @pintxo.name %>
  </li>

  <li>
    <strong><%= gettext("Description") %>:</strong>
    <%= @pintxo.description %>
  </li>

</ul>

<span><%= link gettext("Edit"), to: Routes.pintxo_path(@conn, :edit, @pintxo) %></span>
<span><%= link gettext("Back"), to: Routes.page_path(@conn, :index) %></span>
